*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#heading{
    color:red;
}

a{
    text-decoration: none;
    color:black;
}

.user-card{
    padding:10px;
    border:1px solid black;
    border-collapse: collapse;
}