.shimmer-cards-container{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.shimmer-card{
    background-color: lightgray;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}